ion-card{
    border-radius: 20px;
    box-shadow: 4px 9px 25px 1px rgba(0,0,0,0.12);
    position: relative;
    top: 30px;
    
}
.price{
    font-size: 15px;
    color: var(--ion-color-primary);
    background: #e9effa;
    width: 70px;
    height: 30px;
    padding: 5px;
    font-weight: bold; 
    left: 55px;
    position: relative;
    top: 6px;
}

.btn-delete{
    color: var(--ion-color-medium);
  left: 16px;
    padding-right: 10px;
    position: absolute; 
    bottom: 0; 
    top: 3px;
     z-index: 1;
      left: 85%;
}