ion-card{
    width: 100%;
    height: 250px;
    border-radius: 20px;
   
}


ion-grid{
    padding: 25px  25px  25px  10px;
}
.btn-container{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 45%;
    top: -12%;
    width: 60px;
    height: 60px;    
}


.square{
    width: 100%;
    height: 130px;
    background: transparent;
    overflow: hidden;
    
    
  }
  
  .square img{
    width: 100%;
    height: auto;
    
  }
  @supports(object-fit: cover){
      .square img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }



.cartBtn{
  background: var(--ion-color-secondary);
  width: 50%;
  height: 45px; 
  border-top-left-radius: 15px;
  border-bottom-right-radius: 20px;
  position:absolute ; 
  left: 70%;
  top: 85%; 
}


.btn-card{
  background: var(--ion-color-secondary); 
  width: 50%; height: 45px;  
  border-top-left-radius: 15px;
  border-bottom-right-radius: 20px; 
  position:absolute ; 
  left: 70%; 
  top: 85%; 
  
  
  .tn-card icon{
    color: white;
     font-size: 20px; 
     position: absolute; 
     top: 20%;
     left: 15%;
  }
}

@media screen and (min-width: 700px) {
.card {
    position: relative;
    left: 70px;
    width: 80%;
  
  }

  
}
