
<ion-grid class="animate__animated animate__rotateInUpLeft" *ngIf="!waiting && products.length> 0" fixed>
  <ion-row >
      <ion-col *ngFor="let p of products" size="6">
          <div class="card">

      
          <ion-card >


              <ion-button *ngIf="favPage" style="--border-radius: 100%; width: 20px; height:
                  20px; position: relative; left: 80%;" color="medium" class="ion-no-padding"
                  (click)="removeFavorites(p.id)">
                  <ion-icon name="close"></ion-icon>
              </ion-button>



              <div (click)="productDetail(p)" class="square">
                  <img src="{{p.image}}">
              </div>

              <div class="ion-padding" style="font-weight: bold;">
                  {{p.name}}
              </div>

              <span style="position: absolute; left: 20%; top: 87%; color:
                  gray; font-weight: bold;">
                  {{p.price | currency:"USD"}}
              </span>

              <div class="cartBtn" (click)="productDetail(p)">
                  <ion-icon style="color: white; font-size: 20px; position:
                      absolute; top: 20%;left: 15%;" name="cart"></ion-icon>
              </div>
          </ion-card>

</div>


      </ion-col>
  </ion-row>
</ion-grid>

<!-- 
<div style="padding-top: 25%;" class="ion-text-center" *ngIf="!waiting && !waitingCategories &&
  products.length == 0">
  <ion-icon style="font-size: 130px;" color="medium" name="bag"></ion-icon>
  <ion-text color="medium">
      <h1>No hay productos</h1>
  </ion-text>

</div>

<ion-grid fixed *ngIf="waiting">

  <ion-row>
      <ion-col *ngFor="let p of [1,1,1,1,1,1]" size="6">
          <ion-card>
              <div class="square">
                  <ion-skeleton-text animated style="width: 100%; height:
                      100%;"></ion-skeleton-text>
              </div>

              <div class="ion-padding" style="font-weight: bold;">
                  <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
              </div>

              <span style="position: absolute; left: 20%; top: 87%; color:
                  gray; font-weight: bold;">
                  <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
              </span>

              
          </ion-card>




      </ion-col>
  </ion-row>
</ion-grid> -->
