<ion-content>

  <app-header-general backButtonModal="true" title="Detalle de la compra"></app-header-general>
<div style="position: relative; top: 20px;">
  <ion-item lines="none">
    <ion-label >
      <div color="medium" style="font-weight: bold; font-size: 15px;"> Fecha:</div> 
      <div>{{p.date }}, {{p.hour}}</div>
    </ion-label>
  </ion-item>

  <ion-item  *ngFor="let i of p.products" >

    <ion-avatar slot="start">
    <img [src]="i.image" />
  </ion-avatar> 

    <ion-label >
      <div color="secondary" style="font-weight: bold; ">{{i.name}}</div>
      <div style="font-size: 13px; color: gray;"> {{i.price | currency:"USD"}} x {{i.quantity}} </div>
    </ion-label>
  </ion-item>


</div>


</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-label>Total</ion-label>
    <span slot="end">{{p.total | currency:"USD"}}</span>
  </ion-item>
</ion-footer>