ion-card{
    height: 100px;

}
.square{
    width: 100%;
    height: 80px;
    background: transparent;
    overflow: hidden;
    
    
  }
  
  .square img{
    width: 100%;
    height: auto;
    
  }
  @supports(object-fit: cover){
      .square img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }

  input{
    position: relative;
    top: 10px;
    width: 85%;
    height: 35px;
    padding-left: 20px;
    padding-right: 25px;
    border-radius: 20px;
    background-color: var(--ion-color-medium-tint);
    border: 0px solid;
  }

  .ad{
    font-size: 120px; 
    
    color: var(--ion-color-medium);
  }
  .ad-text{
    color: var(--ion-color-medium);
  }

  .no-purchases{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
  }

  input:focus{
    outline: none;
}
